<html><body>
<title> New Mblog </title>
<p>New Mblog:</p>

<form action="/insertmblog/" method="post" id="blogform">
       {% csrf_token %}
    <table>
        <tr>
            <th>
                Writer Name:
            </th>
            <th>
                <input type="text" name="writer">
            </th>
        </tr>
        <tr>
            <th>
                Topic Name:
            </th>
            <th>
               <input type="text" name="topic">
            </th>
        </tr>
    </table>
       <input type="submit" value="Submit">
       </form>
       Your Entry: <textarea rows="4" cols="50" name="entry" form="blogform">
       What would you like to share?</textarea>
</body></html>