<html><body>
            <title> Save/Load Designs </title>
    		<p>Save/Load a Design:</p>
            <form action="/saveorload/" method="post">
            {% csrf_token %}
            <br>
            Save by name: <input type="text" name="savename"><br><br>
            <input type="submit" name="designaction" value="Save"><br><br>
            Load selected: <br>
                <select name="loadname">
                    {% for design in designs %}
                        <option value="{{ design }}">{{ design.title }}</option>
                    {% endfor %}
                </select><br><br><input type="submit" name="designaction" value="Load"></form>
</body></html>